#particles-js{
   // background-color: #010101b8;
   background-image: linear-gradient(to right bottom,#051e25e3 40%,#200a20bd),url(./3.jpg);
   background-size: cover;
    height: 100vh;
    width: auto;
}